html, body, .page
	wdith 100%
	height 100%

body
	font 14px/1.6 sans-serif

h1, h2, h3
	margin-top 0
	margin-bottom 30px

h4, h5, h6
	margin-top 0
	margin-bottom 15px

.nmg
	margin-top 0
	margin-right 0
	margin-bottom 0
	margin-left 0

.mgb-md
	padding-bottom 15px

.pd-xs
	padding 5px

.pd-sm
	padding 10px

.pd-md
	padding 15px

.pdlr-md
	padding-left 15px
	padding-right 15px

.page
	padding-top 60px

header
	position fixed
	top 0
	left 0
	height 60px
	width 100%
	background-color #efefef

.page-title
	height 100%
	line-height 60px
	font-size 17px
	text-align center
